/* Write your CSS code here */
.blog-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e7e5ea;
}

.title-and-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #12022f;
}

.date {
  color: #9aa5b1;
}

.description {
  color: #9aa5b1;
}

.line {
  border: 0.5px solid #9aa5b1;
  width: 100%;
}
