/* Write your CSS code here */
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  height: 80px;
  width: 80px;
}

.profile-name {
  font-size: 20px;
  color: #12022f;
  font-family: Roboto;
}

.profile-name-description {
  font-size: 14px;
  color: #616e7c;
  margin-top: 0px;
  /* color: #9aa5b1; */
}